[Unit]
Description=Legacy polkit authentication agent for KDE
PartOf=sway-session.target

[Service]
Type=simple
ExecStart=/usr/lib/polkit-kde-authentication-agent-1 
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=sway-session.target
