window {
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(11, 2, 23, 0.94);
    opacity: 0.94;
}

#input {
    margin: 5px;
    border: none;
    background-color: rgba(11, 2, 23, 0.94);
    opacity: 0.94;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: rgba(11, 2, 23, 0.94);
    opacity: 0.94;
}

#outer-box {
    margin: 5px;
    border: none;
    border-style: none;
    background-color: rgba(11, 2, 23, 0.94);
    opacity: 0.94;
}

#scroll {
    margin: 5px;
    border: none;
    background-color: rgba(11, 2, 23, 0.94);
    opacity: 0.94;
}

#text {
    margin: 5px;
    border: none;
    color: white;
    background-color: rgba(11, 2, 23, 0.94);
    opacity: 0.94;
}
#entry:selected {
    background-color: #912e95;
}
#text:selected {
    background-color: #912e95;
}
